{{ partial "header.html" . }}
<main>
  <section class="cf w-100 pa2-ns">
    <article class="fl w-100 w-50-ns pa2-ns">
      <div class="aspect-ratio aspect-ratio--1x1">
        <img style="background-image:url(/img/educainternational-ecoledecinema.jpg);"
        class="db bg-center cover aspect-ratio--object" />
      </div>
      <a href="http://www.ecole-cinema.ch/" class="ph2 ph0-ns pb3 link db">
        <h3 class="f5 f4-ns mb0 black-90">École de cinéma</h3>
      </a>
    </article>
    <article class="fl w-100 w-50-ns pa2-ns">
      <div class="aspect-ratio aspect-ratio--1x1">
        <img style="background-image:url(/img/educainternational-ecolesuperieuredejournalismeetdecommunication.jpg);"
        class="db bg-center cover aspect-ratio--object" />
      </div>
      <a href="http://www.esjc.ch/" class="ph2 ph0-ns pb3 link db">
        <h3 class="f5 f4-ns mb0 black-90">École supérieure de journalisme et de communication</h3>
      </a>
    </article>
  </section>
  <section class="cf w-100 pa2-ns">
    <article class="fl w-100 w-33-ns pa2-ns">
      <div class="aspect-ratio aspect-ratio--1x1">
        <img style="background-image:url(/img/educainternational-filmschool.jpg);"
        class="db bg-center cover aspect-ratio--object" />
      </div>
      <a href="http://www.film-school.ch/" class="ph2 ph0-ns pb3 link db">
        <h3 class="f5 f4-ns mb0 black-90">École de cinéma online en Suisse</h3>
      </a>
    </article>
    <article class="fl w-100 w-33-ns pa2-ns">
      <div class="aspect-ratio aspect-ratio--1x1">
        <img style="background-image:url(/img/educainternational-filmschoolfr.jpg);"
        class="db bg-center cover aspect-ratio--object" />
      </div>
      <a href="http://www.film-school.fr/" class="ph2 ph0-ns pb3 link db">
        <h3 class="f5 f4-ns mb0 black-90">École de cinéma online en France</h3>
      </a>
    </article>
    <article class="fl w-100 w-33-ns pa2-ns">
      <div class="aspect-ratio aspect-ratio--1x1">
        <img style="background-image:url(/img/educainternational-institut-cinema.jpg);"
        class="db bg-center cover aspect-ratio--object" />
      </div>
      <a href="http://www.institut-cinema.com/" class="ph2 ph0-ns pb3 link db">
        <h3 class="f5 f4-ns mb0 black-90">École de cinéma au Maghreb</h3>
      </a>
    </article>
  </section>
</main>
{{ partial "footer.html" . }}
